body {
    background-color:#E8E8E8;
    font-size: 100%;
}

header {
    text-align:center;
}

body#about-me h1 {
    background-color:LightSeaGreen;
    border:1px solid black;
    padding:1em;
    letter-spacing: 0.1em;
    font-size: 2em;
}

body#homepage h1 {
    background-color:LightSteelBlue;
    border:1px solid black;
    padding:1em;
    letter-spacing: 0.1em;
    font-size: 2em;
}

h2 {
    text-align:center;
    border-style:inset;
    border:2px solid black;
    margin:5% 10% 5% 10%;
    letter-spacing: 0.1em;
    font-size: 1.8em;
    border-radius: 0.3em; 
    background-color:#E0E0E0;
}

h3 {
    text-transform: uppercase;
    background-color:LightSteelBlue;
    padding-left:1em;
    letter-spacing: 1px;
    word-spacing: 0.4em;
    font-size: 1.2em;
}

h4 {
    font-size: 1.2em;
}


body#about-me article {
    text-align:center; 
    width: 60%; 
    margin:auto; 
}


p {
    font-size: 1em;
    padding:0em 0em 0em 2em
}

body#about-me p::first-letter { 
    font-size: 2em; 
}

footer {
    text-align:center;
    border:1px solid black;
    margin:5em 0em 0em 0em ;
    font-size: 1em;
    background-color:#E0E0E0;
    border-radius: 0.2em; 
}

nav a:visited {
    color:blue;
}

nav a:hover {
    color: red;
    font-size: 2em;
    /* "2em" is approximately the same as 200%. */
}


img.project-thumbnail {
    width: 10rem;
    padding:0em 0em 0em 2em
}

img.project-thumbnail:hover {
    width: 20rem;
}
